@import 'components/Home/Home.pcss';
@import 'components/CreateVideogame/CreateVideogame.pcss';
@import 'components/LandingPage/LandingPage.pcss';
@import 'components/SearchBar/SearchBar.pcss';
@import 'components/VideogameCard/VideogameCard.pcss';
@import 'components/VideogameDetail/VideogameDetail.pcss';
@import 'components/Filters/Filters.pcss';
@import 'App.pcss';







