@import 'components/Home/Home.pcss';
@import 'components/CreateVideogame/CreateVideogame.module.css';
@import 'components/LandingPage/LandingPage.pcss';
@import 'components/SearchBar/SearchBar.pcss';
@import 'components/VideogameCard/VideogameCard.module.css';
@import 'components/VideogameDetail/VideogameDetail.css';
@import 'App.pcss';







